@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

body, html {
  max-height: 100px !important
}
* {
  font-family: 'Roboto Slab', serif;
}
:root {
  --effect: hover 1s linear infinite;
}


/* Introduction */
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes load {
  0%{
      opacity: 0.08;
      filter: blur(5px);
      letter-spacing: 3px;
      }
}

/* Slideshow */
.default-nav{
  display: none !important;
}

a {
  color: white
}

.transition-footer-top{
  bottom: 87.5% !important;
  -webkit-transition:1.75s;
  /* -webkit-transition:1.25s; */
}

.transition-footer-bottom{
  bottom: 0% !important;
  /* -webkit-transition:1.75s; */
  -webkit-transition:1.25s;
}

.transition-container-top {
  top: 9% !important;
  -webkit-transition: 1.75s;
  /* -webkit-transition: 1.25s; */
}
.transition-container-bottom {
  top: 100% !important;
  -webkit-transition: 1.25s;
  /* -webkit-transition: 1.75s; */
  height: 0 !important
}

.transition-container-hide {
  display: none !important
}

.add_green i{
  transition: 2s ease;
  color: #00C853 !important
}
.add_red i{
  transition: 2s ease;
  color: red !important
}
.add_yellow i{
  transition: 2s ease;
  color: yellow !important
}


img, image {
  image-rendering: -moz-crisp-edges;         /* Firefox */
image-rendering:   -o-crisp-edges;         /* Opera */
image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}